{% extends 'base.html'%}


{% block content %}

{% if cart.products.exists %}
<h2>Cart</h2>
<table class="table cart-table ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Price</th>
        </tr>
      </thead>
      <tbody class="cart-body" id='cart-products'>
                  {% for product in cart.products.all %}
                        <tr >
                              <th scope="row">{{ forloop.counter }}</th>
                              <td><a href="{{product.get_absolute_url}}">{{product.title}}</a>
                                    {% include 'products/snippets/update-cart.html' with object=product cart=cart %}
                              </td>
                              <td>{{product.price}}</td>
                        </tr>
                  {% endfor %}

      <tr>
            <th colspan="2"></th>
            <td> <span class="subtotal">Subtotal:{{cart.subtotal}}</span></td>
      </tr>
      <tr>
            <th colspan="2"></th>
            <td><span class="total">Total:{{cart.total}}</span></td>
      </tr>
      <tr>
            <th colspan="2"></th>
            <td><a href="{% url 'cart:checkout' %}"><button class="btn btn-primary" >Checkout</button></a></td>
      </tr>

      </tbody>
    </table>


{% else %}

    <h2 style="text-align: center;" >Cart is empty</h2>

{% endif %}

{% endblock content %}